@font-face {
    font-family: "shrikhand";
    src: url(/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto-black";
    src: url(/fonts/Roboto/Roboto-Black.ttf);
}
