$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;
$color-fond: #F6F6F6;
$color-font-footer: white;
$color-ifont: rgb(133, 130, 130);
$font-size-titre: 20px;